In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('raw_karnataka_1_19.csv')
df.head()

,Unnamed: 0,ngo_name,full_address,city,state,contact_1,contact_2,website,mail
0,0,1008 BHAGWAN SHRI MAHAVEER JAIN MINORITY CHARI...,ALAMATTI ROAD MUDDEBIHAL-586212,MUDDEBIHAL,KARNATAKA,Not Available,9972451202,Not Available,mbscollege1008(at)gmail[dot]com
1,0,A G N FOUNDATION,NO 1445 VAJRAS NO 6 SOUTH END A CROSS 28TH MAI...,BANGALORE,KARNATAKA,Not Available,7989675617,Not Available,agnfoundation333(at)gmail[dot]com
2,0,A H Memorial Educational trust,"CA Site 7P 1A, PRESIDENCY SCHOOL, 2nd A Main, ...",BANGALORE,KARNATAKA,080-46699333,9886700012,http://www.presidencyuniversity.in,nissar(at)presidency[dot]edu.in
3,0,A Hundred Hands,4 Ashley Road Off MG Road Bangalore 560025,bangalore,KARNATAKA,Not Available,9845008482,http://www.ahundredhands.com,a100hands(at)gmail[dot]com
4,0,A ONE EDUCATIONAL WELFARE TRUST,"No: 117, 6th Main Road, 6th Cross, Near Quba M...",BANGALORE,KARNATAKA,Not Available,9632637803,Not Available,nnaziyara(at)gmail[dot]com

In [3]:
df = df.drop(columns=['Unnamed: 0'], axis=1)

In [4]:
df['ngo_name'], df['city'], df['state'], df['full_address'] = df['ngo_name'].str.upper(), df['city'].str.upper(), df['state'].str.upper(), df['full_address'].str.upper()

In [5]:
df['mail'] = df['mail'].str.replace("\(at\)", '@')
df['mail'] = df['mail'].str.replace("\[dot\]", '.')

In [6]:
df['full_address'].str.contains("[5][0-9]{5}", regex=True)

0        True
1       False
2        True
3        True
4        True
5        True
6       False
7        True
8        True
9        True
10      False
11       True
12       True
13       True
14       True
15       True
16      False
17       True
18       True
19      False
20       True
21      False
22      False
23      False
24       True
25       True
26      False
27       True
28       True
29      False
        ...
1795    False
1796    False
1797    False
1798     True
1799    False
1800     True
1801    False
1802     True
1803     True
1804    False
1805     True
1806    False
1807    False
1808     True
1809     True
1810     True
1811     True
1812     True
1813     True
1814    False
1815    False
1816     True
1817    False
1818     True
1819    False
1820    False
1821    False
1822    False
1823    False
1824    False
Name: full_address, Length: 1825, dtype: bool

In [7]:
re.findall("[5][0-9]{5}", "ALAMATTI ROAD MUDDEBIHAL-586212")

['586212']

In [13]:
df['pincode'] = 'Not Available'
for i, address in enumerate(df['full_address']):
    if re.search("[5][0-9]{5}",address):
        pin = re.findall("[5][0-9]{5}", address)[0]
        df.loc[i,'pincode'] = pin

In [16]:
df.to_csv('karnataka_1_19_ngo_darpan_cleaned.csv')